@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
  background-color: #141414;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  padding: 1rem;
}

.navbar__logo img {
  width: 7rem;
  position: relative;
  left: 1rem;
  top: 0.7rem;
}

/* CONTAINER */

.container__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 62rem;
}

.title__lists {
  margin-bottom: 1rem;
}
.title {
  font-size: 2.5rem;
  color: #9d9d9d;
  font-weight: 700;
}

.title a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  color: #747474;
}

.card__lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.7rem;
}

.card :hover {
  color: white;
}

.lists__img img {
  width: 7.2rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #e5e5e5;
}

.lists__img :hover {
  border: 3px solid #747474;
}

.lists a {
  font-size: 1.3rem;
  color: #747474;
  text-decoration: none;
}

.lists__btn {
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .navbar__logo img {
    width: 10rem;
    position: relative;
    left: 2rem;
    top: 1rem;
  }

  /* CONTAINER */

  .container__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 62rem;
  }

  .title {
    font-size: 4rem;
  }

  .lists__img img {
    width: 15rem;
    margin: 1.5rem;
  }

  .lists__img :hover {
    border: 5px solid #747474;
  }

  .lists a {
    font-size: 2.3rem;
    color: #747474;
    text-decoration: none;
  }
}
