@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
  background-color: #141414;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
}

/* NAVBAR */

.navbar__logo img {
  width: 8rem;
  position: fixed;
  left: 1.5rem;
}

/* CONTAINER */
.container__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 100vh;
}

.title__lists {
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  color: #9d9d9d;
  font-weight: 700;
}

.title a {
  text-decoration: none;
  color: white;
}

.title a:hover {
  color: #747474;
}

.card__lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.7rem;
}

.card :hover {
  color: white;
}

.lists__img img {
  width: 7.2rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #e5e5e5;
}

.lists__img :hover {
  border: 3px solid #747474;
}

.lists a {
  font-size: 1.3rem;
  color: #747474;
  text-decoration: none;
}

.lists__btn {
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .navbar__logo img {
    width: 10rem;
    position: fixed;
  }

  .container__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 100vh;
  }

  .title {
    font-size: 4rem;
  }

  .lists__img img {
    width: 15rem;
    margin: 1.5rem;
  }

  .lists__img :hover {
    border: 5px solid #747474;
  }

  .lists a {
    font-size: 2.3rem;
    color: #747474;
    text-decoration: none;
  }
}

/* NAVBAR2 */
.navbar2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.navbar2__logo img {
  width: 8rem;
  position: fixed;
  margin-left: 0.5rem;
}
.navbar2__lists {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  margin: 1rem;
}
.list2 {
  display: flex;
  justify-content: end;
}
.lists2 a:hover {
  color: white;
}
.lists2 a {
  font-size: 1.3rem;
  margin: 1rem;
  color: #747474;
  text-decoration: none;
}

.expand .navbar2__lists {
  max-height: 100vh;
  position: relative;
  text-align: center;
}
.expand .lists2 {
  margin: 1rem;
}
.navbar2__bar {
  cursor: pointer;
  color: white;
  font-size: 2.4rem;
  margin-right: 1rem;
  position: relative;
  top: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar2 {
    position: fixed;
    top: -0.1rem;
  }
  .navbar2__logo img {
    width: 10rem;
  }
  .navbar2__lists {
    width: auto;
    display: flex;
    justify-content: space-between;
    max-height: 100vh;
    margin-right: 2rem;
  }
  .lists2 {
    display: flex;
    align-items: center;
  }
  .lists2 a {
    font-size: 2.3rem;
    margin: 0 1.5rem;
  }

  .navbar2__bar {
    display: none;
  }
}

/* PROFILE */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile__text {
  margin-top: 9rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
}

.text1 {
  font-size: 1.5rem;
  color: #747474;
  font-weight: 500;
  margin-bottom: 1rem;
}

.text2 {
  font-size: 1.8rem;
  color: #e5e5e5;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text3 {
  font-size: 1.2rem;
  color: #9d9d9d;
  font-weight: 500;
  margin-bottom: 2rem;
}

.profile__img img {
  width: 20rem;
  border-radius: 15px;
  border: 3px solid #adf27c;
}

.canva {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.canva__img img {
  width: 28rem;
  height: 16rem;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
  .profile__text {
    width: 70rem;
    align-items: flex-start;
  }
  .text1 {
    font-size: 3rem;
  }

  .text2 {
    font-size: 4rem;
  }

  .text3 {
    font-size: 2.4rem;
  }
  .profile__img img {
    width: 40rem;
    border: 5px solid #adf27c;
  }

  .canva__img img {
    width: 110rem;
    height: 60rem;
  }
  .canva__img {
    margin-bottom: 5rem;
  }
}
